{% for store in stores %}
    <p>{{request.user}}</p>
{% endfor %}
{% for product in products %}
    <p>{{product.name_of_product}}</p>
    <p>{{product.price}}</p>
    <img src="{{product.image_url}}" alt="">
{% endfor %}

<p>Orders: </p>
{% for order in orders %}

    <p>{{order.customer}}'s order</p>
    {% for item in order.orderitem_set.all %}
        <p>{{item.product.name_of_product}} || {{item.quantity}}</p> 
        
    {% endfor %}
    <p>{{order.get_order_total}}</p>
    <p>{{order.check_if_order_is_complete}}</p>
    
    <!-- <p></p> -->
{% endfor%}

{{number_of_stores}}
